.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.youtube {
  margin: 20px;
  padding: 20px;
  border: 5px dashed green;
}
input,
select,
button {
   margin: 10px;
   padding: 10px 20px;
   font-size: 1.23rem;
   background-color: #e67e22;
   color: yellow;
   border: 0px;
   border-radius: 5px;
   outline: 0px;
}
button:hover {
  background-color: #322367;
  color: white;
  outline: 0px;
 }

  select {
    height: 43px;
    padding: 10px 20px;
  }
 select option {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.23rem;
    background-color: #e67e22;
    color: yellow;
    border: 0px;
    border-radius: 5px;
    outline: 0px;
 }
 ul {
   display: table;
   width: auto;
   margin: 0 auto;
   padding: 0 0 0 0;
   text-align: center;
 }
 li {
   display: table-cell;
   width: 185px;
   max-width: 185px;
   padding: 15px;
   margin: 0 5px;
   vertical-align: top;
   border: 2px dashed #3f3;
   border-collapse: collapse;
 }