.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.youtube {
  margin: 20px;
  padding: 20px;
  border: 5px dashed green;
}
button {
   margin: 10px;
   padding: 10px 20px;
   font-size: 1.23rem;
   background-color: #e67e22;
   color: yellow;
   border: 0px;
   border-radius: 5px;
}

button:hover {
  background-color: #322367;
  color: white;
 }